@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-maroon: #80010A;
  --color-teal: #137868;
  --color-orange: #F15200;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-maroon: #80010A;
  --color-teal: #137868;
  --color-orange: #F15200;
  --font-sans: var(--font-montserrat), sans-serif;
  --font-heading: var(--font-poppins), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
}
